# downloaded media
*.mp4

# vscode settings
.vscode

# python stuff
__pycache__
vendored

# local settings
settings.json

# ffmpeg and mediainfo binaries
ffmpeg
libmediainfo*

# logs
*.log

# IDK LOL
.DS_Store